body{
    padding: 0px;
    margin: 0px;
}
header{
    height: 230px;
    width: 100%;
    border: 1px solid #fff;
    margin: 0 auto;  
}
.content{
    width: 980px;
    height: 230px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #fff;
    margin: 0 auto; 
}
.logo{
    width: 100px;
    height: 100px;
    padding-right: 15px;
    float: left;
}
.left{
    width: 300px;
    position: relative;
    top: 65px;
    border:1px solid #fff; 
}
.left>h1{
    font-size: 33px;
    margin-top: 1px;
    line-height: 27px;    
}
.left>h3{
    font-size: 16px;
    margin-top: -7px;
}
.right{
    position: relative;
    left: 710px;
    top: -65px;
    width: 270px;
    text-align: right;
    border: 1px solid #fff;
    height:81px;
}
.tel{
    font-family: 'Open Sans Condensed';
    font-size: 40px;
    font-weight: 400;
    line-height: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: 0px;
}
#feedback{
    color: black;
    text-decoration: none;
    width: 171px;
    height: 22px;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.6px;
    position: relative;
    top: -25px;
}
hr{
    width: 170px;
    border-bottom: 2px dashed #000;
    position: relative;
    top: -45px;
    left: 50px;
}
nav{
    background-color: #444444;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}
.navigationContent{
    width: 955px;
    font-family: "PT Sans";
    font-size: 30px;
    line-height: 70px;
    margin: 0 auto;
    list-style: none;
}
.navigationContent>li{display:inline;}
.navigationContent>li>a{
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-decoration: none;
    margin: 5px;
    padding-right: 13px;  
}
.navigationContent>li>a:hover{text-decoration: underline;}
 /* Слайдер */
.slides {
    height: 400px;
    margin: 0px auto;
    position: relative;
    width: 100%;
}
.slides > div {
  position: absolute;
  width: 100%;
  height: 400px;
}
.slide1 {
  background: url(image/1.jpg);  
  animation: fade 8s infinite;
  -webkit-animation: fade 8s infinite;
} 
.slide2 {
  background: url(image/2.jpg);
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
}
.slide3 {
  background: url(image/3.jpg);
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
/* Каталог */
.direction_right{
    position: relative;
    left: 1190px;
    top: -250px; 
}
.direction_left{
    position: relative;
    left: 230px;
    top: -250px; 
}
.link{
    width: 290px;
    height: 14px;
    list-style: none;
    position: relative;
    left: 230px;
    top: -80px;
}
.link>li{display: inline;}
.link>li>a{
    color: black;
    font-family: "PT Sans";
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: 0.35px;
    margin: 1px;
    padding-right: 4px;
    font-weight: 400;
    line-height: 18px;   
}
.link>li>a:hover{text-decoration: none;}
main{
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000;
    margin: -65px auto;
    display: flex;/*!!!*/   
}
aside{
    border: 1px solid #1cde12;
    width: 200px;   
}
section{
    border: 1px solid #1219de;
    width: 800px;
    
}
aside>ul{
    list-style: none;
    margin-left: -40px;
    margin-top:-10px;
    color: #767676;
}
.linkLeft{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: "PT Sans";
    letter-spacing: 0.45px;
    line-height: 30px;
}
.UnderlinkLeft{
    text-decoration: underline;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: "PT Sans";
    letter-spacing: 0.45px;
    line-height: 30px;
}
.linkLeft:hover{
    text-decoration: underline;
}
.second>li{
    list-style: disc;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 22px;
    margin-left:-23px;
}
.second>li>a{
    text-decoration: none;
    color: black;
    margin-left:-1px;
}
.second>li>a:hover{
    text-decoration: underline;
}
.priсe{
    width: 160px;
    height: 150px;
    margin: 105px auto;
    padding: 0px;
}
.excel{
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 10px;
}
.price-list{
    font-size: 30px;
    color: #000;
    font-family: "PT Sans";
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.75px;
    text-decoration:none;
}
article{
    width: 250px;
    height: 380px;
    background-color: #d9d7d7;
    margin-left: 10px;
    margin-bottom: 15px;
    display: inline-block;  
}
.top{margin-top:-15px;}
.noPhoto{
    width: 210px;
    height: 210px;
    margin: 20px 0 0 20px;
}
article>p{
    font-family: "PS Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.45px;
    margin-left: 23px;
    margin-top:13px;
}
h4{
    font-family: "PS Sans";
    font-size: 28px;
    font-weight: 700px;
    letter-spacing: 0.9px;
    width: 103px;
    position:relative;
    left:22px;
    top:10px;
}
.Shopping_Cart{
    width: 28px;
    height: 21px;
    position: relative;
    left: 190px;
    top: -60px; 
}
.pagination{
    position: relative;
    left: 275px;
    top: -25px;
    width: 210px;
    height: 45px;
     
}
.pagination>li{
    display: inline; 
}
.pagination>li>a{
    text-decoration: none;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 16px;
    color: #000; 
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}
.pagination>li>a:hover{
    font-size: 18px;  
}
.text{
    width: 790px;
    border-top: 1px solid black;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    column-width: 370px;
    -webkit-column-width: 370px;
    -moz-column-width: 370px;
    margin-top: -5px;
}
.text>p{
    font-family: "PS Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.35px;
    margin-top: 20px;
    margin-left:5px;
}
footer{
    width: auto;
    height: 220px;
    background-color: dimgray;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 30px;
    margin-bottom: 0px;
    margin-top:245px;
    
}
.company_footer{
    width: 200px;
    height: 40px;
    font-family: "PS Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.35px;
    color: #fff;
    padding-top: 0px;
    position:relative;
    left:247px;
}
.link_footer{
    width: 120px;
    height: 120px;
    line-height: 26px;
    position: relative;
    left: 555px;
    top: -60px;
    list-style: none;
    
}
.link_footer>li>a{
    color: #fff;
    font-family: "PS Sans";
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.35px;
    
}
.pixel_footer{
    width: 220px;
    height: 50px;
    position: relative;
    top: -190px;
    left: 1000px;     
}
.pixel_footer>a{
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.35px;
    letter-spacing: 0.35px;
    color: #fff;
    text-decoration: none; 
}
span{text-decoration: underline;}
.pixel_footer>img{
    width: 41px;
    height: 41px;
    float: left;
}


@font-face {
    font-family: 'Forum';
    src:url(font/Forum.ttf); 
    src: url(font/Forum.eot);
    src: url('font/Forum.eot?#iefix') format('embedded-opentype'),
        url('font/Forum.woff2') format('woff2'),
        url('font/Forum.woff') format('woff');
}
@font-face{
   font-family: 'Open Sans Condensed';
    src:url(font/OpenSansCondensed-Light.ttf);
    src: url(font/OpenSansCondensed-Light.eot);
    src: url('font/OpenSansCondensed-Light.woff2') format('woff2'),
        url('font/OpenSansCondensed-Light.woff') format('woff');
}