body,div{
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
}
header{
    width: 100%;
    border: 1px solid #fff;
    margin: 0 auto; 
}
.content{
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #fff;
    margin: 0 auto;
}
.left{
    width: 300px;
    border:1px solid #fff; 
    display:inline-block;
    color:#000;
    position:relative;
    top:-35px;
}
.logo{
    width: 100px;
    height:100px;
    padding-right: 10px;
    float: left;  
}
.left_logo_top{
    text-decoration: none;
    color:#000;
    font-size: 33px;
    font-family: "PT Sans";
    line-height: 21px;
    font-weight:bolder; 
}
.left_logo_bottom{
    font-size: 16px;
    text-decoration: none;
    color:#000;
    font-family: "PT Sans";
}
.left>h3{
    position:relative;
    top:-10px;
}

.right{
    position: relative;
    top:-5px;
    width: 270px;
    text-align: right;
    display:inline-block;
    margin-left:402px;
    color:#000;
}
.tel{
    font-family: 'Open Sans Condensed';
    font-size: 40px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 1px; 
}
.open_modal{
    color: black;
    text-decoration: none;
    width: 171px;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    position: relative;
    top: -37px;
}
.underline_feedback{
    width: 170px;
    border-bottom: 2px dashed #000;
    position: relative;
    top: -50px;
    left: 50px;
}
nav{
    background-color: #444444;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}
.navigationContent{
    width: 955px;
    font-family: "PT Sans";
    font-size: 30px;
    line-height: 71px;
    margin: 0 auto;
    list-style: none;
    padding-bottom: 10px;
}
.navigationContent>li{display:inline;}
.navigationContent>li>a{
    color:#fff;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-decoration: none;
    margin: 5px;
    padding-right: 13px;
}
.navigationContent>li>a:hover{text-decoration: underline;}
 /* Слайдер */
.slides {
    height: 400px;
    margin: 0px auto;
    position: relative;
    width: 100%;
}
.parent_slaide{
    position:relative;
    margin:0 auto;
    width:1400px;
    height:400px;
    padding:0px;
}
.slide1,.slide2,.slide3 {
    position: absolute;
    width:1400px;
    height: 400px;
     overflow-y:hidden;
}

.clear{
    position: absolute;
    width:1400px;
    height: 400px;    
    z-index: 1; 
}
.show{
   position: absolute;
    width:1400px;
    height: 400px;    
    z-index: 3; 
}
.size_picture{
    width:1400px;
    height:400px;
}
.slide1 {
  background: url(image/1.jpg);  
  animation: fade 16s infinite;
  -webkit-animation: fade 16s infinite;
} 
.slide2 {   
  background: url(image/2.jpg);
  animation: fade2 16s infinite;
  -webkit-animation: fade2 16s infinite;
}
.slide3 {    
  background: url(image/3.jpg);
  animation: fade3 16s infinite;
  -webkit-animation: fade3 16s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
.direction{
    width:980px;
    margin:150px auto;
}
#direction_left{
    position: relative;
    padding:0;
    z-index: 4;
}
#direction_right{
    position: relative;
    left:880px;
    padding:0;
    z-index: 4;
}
/* Каталог */
.menu{
    width: 290px;
    margin:0 left;
}
.link{
    width: 290px;
    list-style: none;
    display:inline-block;
    padding: 3px;
    margin-top:0px;
}
.link>li{
    display: inline;
}
.link>li>a{
    color: black;
    font-family: "PT Sans";
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: 0.35px;
    margin: 1px;
    padding-right: 4px;
    font-weight: 400;
    line-height: 18px;   
}
.link>li>a:hover{text-decoration: none;}
section{
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px auto; 
}
.big{
    display:flex;
}
aside{
    width: 200px;     
}
.centerBlock{
    width: 780px;
    margin:5px 0 0 0;
    padding:0px;
    font-size:0;
}
aside>ul{
    list-style: none;
    padding: 0px;
    margin-top:0px;
    color: #767676;
}
.linkLeft{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: "PT Sans";
    letter-spacing: 0.45px;
    line-height: 30px;
}
.UnderlinkLeft{
    text-decoration: underline;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: "PT Sans";
    letter-spacing: 0.45px;
    line-height: 30px;
}
.linkLeft:hover{
    text-decoration: underline;
}
.second>li{
    list-style: disc;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 22px;
    margin-left:-23px;
}
.second>li>a{
    text-decoration: none;
    color: black;
    margin-left:-1px;
}
.second>li>a:hover{
    text-decoration: underline;
}
.priсe{
    width: 160px;
    margin: 105px auto;
    overflow-y: hidden;
}
.excel{
    width: 100px;
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 10px;
}
.price-list{
    font-size: 28px;
    color: #000;
    font-family: "PT Sans";
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.55px;
    text-decoration:none; 
}
.item{
    width: 250px;
    min-height: 380px;
    background-color: #d9d7d7;
    margin-right:15px;
    margin-bottom: 17px;
    display:inline-block;
}
.item_right{
    width: 250px;
    min-height: 380px;
    background-color: #d9d7d7;
    margin-right:0px;
    margin-bottom: 20px;
    display:inline-block;
}
.noPhoto{
    width: 210px;
    height: 210px;
    margin: 20px 20px 20px 20px;
}
.item>p{
    font-family: "PS Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.45px;
    margin-left: 23px;
    margin-top:0px;
    margin-bottom: 55px;
}
.item_right>p{
    font-family: "PS Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.45px;
    margin-left: 23px;
    margin-top:0px;
    margin-bottom: 55px;
}
p.cost{
    font-family: "PS Sans";
    font-size: 28px;
    letter-spacing: 0.9px;
    width: 100px;
    margin-left:18px;
    margin-right:70px;
    font-weight:bolder;
    display:inline;   
}
.Shopping_Cart{
    width: 28px;
    height: 21px;
}
.pagination{
    margin:0px auto;
    width: 200px;
    height:20px;
}
.pagination>li{
    display: inline;
   line-height: 60px;
    margin-left:0px;
    
    
}
.pagination>li>a{
    text-decoration: none;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 20px;
    color: #000; 
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    line-height: 30px;  
   
}
.pagination>li>a:hover{
    font-size: 18px;     
}
.line{
    width: 775px;
    height: 1px;
    background-color: #000;
    margin-top: 75px;
}
.textLeft,.textRight{
    width: 370px;
    display: inline-flex;
    font-family: "PS Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.35px;
    margin-top: 25px;
    margin-left:30px;
}
.textLeft{
   margin-left:0px; 
}
footer{
    width: auto;
    background-color: dimgray;
    margin-top: 205px;
    margin-bottom: 0px;
    padding-bottom: 50px; 
}
.block_footer{
    width:980px;
    padding:0px 10ppx 0px 10px;
    margin:0px auto;
    overflow-y:hidden;
}
.company_footer{
    width: 200px;
    font-family: "PS Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.35px;
    color: #fff;
    display: inline-block;
    position: relative;
    top: -55px;
}
.mail{
    color:#fff;
    text-decoration: none;
}
.link_footer{
    width: 120px;
    line-height: 26px;
    list-style: none;
    display: inline-block;
    position: relative;
    left: 105px;
    top: 22px;   
}
.link_footer>li>a{
    color: #fff;
    font-family: "PS Sans";
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.35px; 
}
.pixel_footer{
    width: 220px;
    display: inline-block;
     position: relative;
    left: 390px;
    top: -55px;
}
.pixel_footer>a{
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.35px;
    letter-spacing: 0.35px;
    color: #fff;
    text-decoration: none; 
}
span{text-decoration: underline;}
.pixel_footer>img{
    width: 41px;
    height: 41px;
    float: left;
}
/*обратная связь*/
.legend{
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left:-6px;
}
#grey{
    background-color: #eeeeee;
    width: 468px;
    height: 580px;
    position:fixed;
    top:285px;
    left:540px;
    z-index: 2000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: center; 
    display:none;

}
#close{
    width: 25px;
    height: 25px;
    background-color: #eeeeee;
    color: #000;
    position:relative;
    z-index: 2103;
    left:460px;
    top:0px;
    left:225px;
    font-size: 18px;
    cursor:pointer;
}
.input_text{
    height:40px;
    width:340px;
    margin-bottom: 15px;
}
.red{
    font-style: italic;
    border:1px solid #dc7f7f;
    box-shadow: inset 0 0 15px #dc7f7f;
     margin-bottom: 20px;
}
.sms{
    min-height: 140px;
    width: 340px; 
}
.submit{
    width: 128px;
    height: 43px;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    margin-top:20px;
}
#fade {
    display: none;
    background: #2c3e50;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .50;
    z-index: 1000;
}
html>#fade {
        position: absolute;
    }


@font-face {
    font-family: 'Forum';
    src:url(font/Forum.ttf); 
    src: url(font/Forum.eot);
    src: url('font/Forum.eot?#iefix') format('embedded-opentype'),
        url('font/Forum.woff2') format('woff2'),
        url('font/Forum.woff') format('woff');
}
@font-face{
   font-family: 'Open Sans Condensed';
    src:url(font/OpenSansCondensed-Light.ttf);
    src: url(font/OpenSansCondensed-Light.eot);
    src: url('font/OpenSansCondensed-Light.woff2') format('woff2'),
        url('font/OpenSansCondensed-Light.woff') format('woff');
}